@import 'scss/config';
@import 'scss/utilities';
@import 'scss/buttons';
@import 'scss/burgerMenu';
@import 'scss/Header';
@import 'scss/Footer';
@import 'scss/sideBanner';

html {
	scroll-behavior: smooth;
}

a {
	color: $light-color;
	text-decoration: none;
	font-family: $font-stack-2;
}

// Hero-Content
.bg-img1 {
	background-image: url('./imgs/meeting1.png');
	position: relative;
	//   max-height: $banner-h;
	max-height: 75%;
	background-position: 90% 20%;
}

#hero {
	margin: 0 auto;
	font-size: 2rem;
	//   display: none;

	.content-wrap {
		display: flex;
		flex-direction: column;
		// height: $banner-h;
		height: 500px;
		justify-content: center;

		.content-text {
			color: $light-color;
			font-style: italic;
			font-size: 0.7em;
			max-width: 550px;
			padding: 1em 0;
			letter-spacing: 0.1em;
			line-height: 35px;
		}
	}

	.content-title {
		font-weight: 500;
		font-size: 1em;
		color: $light-color;
		line-height: 1;

		span {
			display: block;
			color: $secondary-color;
			filter: saturate(2);
			font-size: 2.5em;
			font-weight: 700;
			letter-spacing: 1.7px;
		}
	}
}

// Main Content
main {
	//   display: none;

	.section {
		// background-color: orange;
		max-width: 70%;
		padding: 2rem 0.5rem;
		margin-left: auto;
		padding-left: 2rem;
		z-index: 3;
	}

	// Section A
	#section-a {
		.content-a {
			margin-top: 4rem;

			.content-a-link {
				a {
					color: $secondary-color;
					font-size: 0.7em;
					font-weight: 700;
				}

				img {
					width: 0.7em;
				}
			}
		}
	}

	//   Section B
	.bg-overlay {
		background: $secondary-color;
		opacity: 0.8;
		filter: contrast(3);
		z-index: 0;
	}

	//Section-B Background
	.bg-img2 {
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./imgs/lamps.jpg');
		max-width: 100vw;
		background-size: cover;
		background-attachment: fixed;
		position: relative;
	}

	.bg-img2::before {
		content: '';
		width: 160%;
		height: 40%;
		background-color: $light-color;
		filter: blur(40px);
		position: absolute;
		bottom: -170px;
		left: -40px;
		z-index: 0;
	}

	#section-b {
		position: relative;
		padding: 4rem 1.5rem;

		.expertise {
			color: $light-color;
		}

		.facts {
			.stats {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				align-items: center;
				justify-items: center;
				grid-gap: 30px;
			}

			.count-box {
				padding: 10px;
				width: 100%;

				i {
					display: block;
					font-size: 44px;
					color: $light-color;
					float: left;
				}

				span {
					font-size: 48px;
					display: block;
					line-height: 40px;
					font-weight: 700;
					color: $light-color;
					margin-left: 30px;
				}

				p {
					padding: 5px 0 0 0;
					margin: 0 0 0 60px;
					font-family: 'Raleway', sans-serif;
					font-size: 14px;
					color: $light-color;
				}

				strong {
					font-weight: 600;
					display: block;
					color: $light-color;
					margin-top: 20px;
					font-size: 15px;
					font-family: 'Poppins', sans-serif;
					transition: ease-in-out 0.3s;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	//   Section C
	#section-c {
		display: grid;
		// grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: column;
		grid-gap: 2em;
		margin-top: 3em;
		filter: saturate(2) contrast(3);

		.card {
			height: 245px;
			width: 245px;
			border-radius: 8px;
			position: relative;
			border: solid 1px $primary-color;
			padding: 0 1rem;
			display: flex;
			justify-content: center;

			img {
				width: 55px;
				opacity: 1;
			}

			a {
				color: $secondary-color;
				font-size: 10.57px;
				font-weight: 600;
				position: absolute;
				bottom: 12px;
				left: 1.2rem;
				transition: all 0.5s ease-in-out;

				img {
					width: 10.57px;
				}

				&:hover {
					img {
						position: relative;
						left: 2px;
					}
				}
			}

			h3 {
				color: $primary-color;
				font-weight: 700;
				padding: 0.5rem 0;
			}

			h3:nth-child(even) {
				padding: 1.2rem 0;
			}

			p {
				color: darken($primary-color, 10%);
				font-size: 0.8em;
				font-weight: 700;
			}
		}

		.card::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 5px;
			background-color: $primary-color;
			bottom: -30px;
			margin-top: 3rem;
			left: 0;
		}
	}

	#section-d {
		margin-top: 50px;
		position: relative;

		h2 {
			color: $primary-color;
			font-size: 2.6rem;
			font-weight: 600;
			margin: 0;

			span:nth-child(even) {
				color: $secondary-color;
				font-size: 1.1em;
				font-weight: 700;
			}
		}
	}
}

@import 'scss/mobile';
