// Header

header {
	background-color: $primary-color;
	//   display: none;
}

// Hero Banner (Top Nav)
.hero-banner {
	display: flex;
	justify-content: space-between;
	height: 60px;
	//   background-color: steelblue;
	margin: 0 auto;
	flex-wrap: wrap;

	.logo {
		width: 9em;
		height: 4em;
	}

	.banner-infos {
		display: flex;
		// background-color: orangered;
		width: 550px;
		align-items: center;
		margin-left: auto;
		flex-wrap: wrap;

		.banner-info {
			color: $light-color;
			margin-top: 12px;
			padding-right: 10px;
			text-align: center;
			margin: 0 auto;
			border-right: 2px solid $line-color;
		}
	}
}

// Nav Bar
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 2px $padding-width;

	.navLinks {
		display: flex;
		//   background-color: steelblue;
		min-width: 40%;
		margin: 0;
		padding: 0;

		li {
			padding-right: 3em;
			list-style-type: none;

			a:hover {
				transition: all 0.2s ease-in-out;
				color: $secondary-color;
				font-weight: 800;
				padding-bottom: 0.68rem;
				position: relative;
				border-bottom: 3px solid $secondary-color;
			}
		}
	}

	.mediaLinks {
		display: flex;
		// background-color: tomato;
		justify-content: space-between;

		i {
			font-size: 30px;
			float: right;
			transition: color 0.15s ease-in;
		}
		a {
			&:hover {
				color: $secondary-color;
			}
		}
		form {
			i {
				color: lighten($primary-color, 30);
			}
		}
		.allMedia {
			//   background-color: darkred;
			display: flex;
			width: 9em;
			justify-content: space-between;
		}
	}
}
